<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
  {{if success}}
    {{if rates.length > 1}}
    There are ${rates.length} shipping rates available for ${address}, starting at {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
    {{else}}
      {{if rates.length == 1}}
      There is one shipping rate available for ${address}.
      {{else}}
      We do not ship to this destination.
      {{/if}}
    {{/if}}
  {{else}}
    ${errorFeedback}
  {{/if}}
  </p>
  <ul id="shipping-rates">
    {{each( index, rate ) rates}}
    <li>${rate.name} at {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
    {{/each}}
  </ul>
  {% endraw %}
</script>

<script>
  Shopify.Cart.ShippingCalculator.show( {
    submitButton: 'Find rates',
    submitButtonDisabled: 'Loading...'{% if shop.customer_accounts_enabled and customer %},
    customerIsLoggedIn: true{% endif %},
    moneyFormat: {{ shop.money_with_currency_format | json }}
  } );
</script>